<h2>List of Heroes</h2>
<hr>
<ul class="heroes" *ngFor="let hero of heroes">
  <li>
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <!-- <button type="button" [class.selected]="hero.id === selectedHero?.id" (click)="onHeroSelection(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{ hero.name | uppercase }}</span>
    </button>
    <app-hero-details *ngIf="selectedHero && selectedHero.id === hero.id"  [hero]="selectedHero"></app-hero-details> -->
  </li>
</ul>
